.wrapper {
  background-color: #000;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 1;
}

@media(max-width: 1200px) {
  .wrapper {
    aspect-ratio: 2 / 1;
  }
}

@media(max-width: 680px) {
  .wrapper {
    aspect-ratio: 1.5 / 1;
  }
}

.infoBlock {
  color: rgba(255,255,255,.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: monospace;
  font-size: .7rem;
  gap: .75rem;
  margin-top: .5rem;
}

.infoButton {
  border: none;
  border-radius: 1rem;
  background-color: #000;
  color: white;
  font-size: .8rem;
  font-family: monospace;
  padding: .5rem 1rem;
}

.infoButton:active {
  filter: contrast(.7);
}