---
import Layout from '@layouts/Layout.astro';
import { ChartsBody } from '@components/Charts';
---

<Layout title="dxCharts Lite | Playground" theme="devexp">
	<main>
		<h1><span class="text-gradient">dxCharts</span> Playground</h1>
    <ChartsBody client:only="solid" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1.5rem;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
