---
import Layout from '../layouts/Layout.astro';

import Logo from '../components/Logo.astro';
import { Playground } from '../components/Playground';
---

<Layout title="RxJS | Playground" theme='rxjs'>
	<main>
		<Logo fill='#000' />
		<h1><span class="text-gradient">RxJS</span> Playground</h1>
		<Playground client:only="solid" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
